
fieldset, #myCustomers {
background-color:rgb(255,246,205);	
border:1px solid rgb(233,69,0);
margin:2.5% 2.5% 2.5% 2.5%;
width:400px;
}

.inputClass {
    float: right;
    margin-right:10px;
}

.legend {
    background-color: rgb(233,69,0);   
    color: white;
    width: 100%;
}

h2 {
    margin: 2.5%;   
}